<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @mailing.user_firstname %>!</h1>

    <p>If you submitted before 3pm CST on a business day, you should expect your letter to be sent out today. Otherwise, it will be in the mail the following business day.</p>

    <p>-The Penguin</p>
  </body>
</html>

