<h1>This is a test of the homepage</h1>

<br>
<br>
<br>







<!-- STRIPE -->

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_hUrf8D6B8e8qtDHEBm9VVOuP"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>